.home-page{
  display: flex;
  height: 100vh;
  width: 100vw;
}
.sidebar{
  width: 15%;
  height: 100vh;
  background-color: #1E1E2D;
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 15px;

  .options{
    display: flex;
    justify-content: center;
  }

  .header, .footer{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-left: 10%;
  }

  .header{
    padding-top: 15%;
  }

  .footer{
    margin-top: auto;
    display: flex;
    flex-wrap: nowrap;
    gap: 20px;
    padding-bottom: 15%;

    /* img{
      width: 65px;
      border-radius: 40px;
    } */
  }
}
.main {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 80vw;
  padding: 60px;
  
  .navbar {
    height: 80px;  
    display: flex;
    align-items:center; 
    justify-content:end;  
    padding: 0 50px;  
    width: 100%;  
    gap: 20px; 
  }

}

.dash{
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-grow: 1;
  padding: auto;
  overflow: auto;
}


