
.content{
  display: flex;
  flex-wrap: wrap;             
  justify-content: center;     
  align-items: flex-start;    
  width: 100%;
  gap: 60px;
}

.card{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
}

.box-btn{
  display: flex;
  flex-direction: column;
  align-items: center;
  button{
    width: 120px;
    border-radius: 15px;
  }
}
