
.profile-details p {
  background: #f0f0f0;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
}

.trainer-profile{
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-grow: 1;
}

.avatar-256 {
  width: 256px;
  height: 256px;
}

.card-body {
  padding: 40px; /* Ajusta según sea necesario */
}

.h1, .h2, .h3, .h4, .h5, .h6 {
  font-weight: bold;
}
