
.profile-details p {
  background: #f0f0f0;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
}

.trainer-profile{
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-grow: 1;
}
